#recruit-link{
	text-align: right;
	font-size:1.6em;
	font-weight: bold;
}
.header-element{
	margin-bottom: 5px;
}
body 	
{	
	background: #000;
	margin: 10px 50px;
}
#footer{
	text-align: right;
}
#right-panel{
	width:356px;
}
#right-panel, #left-panel{
	float:left;
	height:100%;
}
.block
{
	display: block;
}
#brush-panel{
	padding:10px 30px;
}
#brush-slider{
	margin:10px;
}
.fill
{
    width: 100%;
    height: 100%;    
}

.float
{
	display: inline;
	float: left;
	padding: 0px 10px
}

aside
{
	font-size: small;
}

#wrapper
{
	width: 900px;
	height: 645px;
	margin: 0px auto;
	padding: 10px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.ui-accordion .ui-accordion-content{
	padding:10px 10px;
}
#splash
{
	width: 1000px;
	height: 690px;
	background-color: black;
	position: absolute;
	z-index: 1000;
}

#splash p
{
	font-size: 28px;
	margin: 40% 45%;
	position: absolute;
}

#splash img
{	
	width: 5%;
	margin: 47.5% 47.5%;
	position: absolute;
}